 <h1>Edit Attribute</h1>

<%= form_for([@project, @attrib]) do |f| %>
    <fieldset>
        <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
        </div>
        
        <div class="actions">
            <%= f.submit %>
        </div>
    </fieldset>
<% end %>